VS13.USPSWebToolsAPI.Web/App_WebReferences/VS13/USPS/USPSWebTools1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://VS13.USPS" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="USPSWebTools" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://VS13.USPS" location="http://localhost:43568/USPSWebTools.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IUSPSWebTools" type="i0:IUSPSWebTools">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrackRequest">
      <soap:operation soapAction="http://VS13.USPS/IUSPSWebTools/TrackRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="USPSFaultFault">
        <soap:fault use="literal" name="USPSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackFieldRequest">
      <soap:operation soapAction="http://VS13.USPS/IUSPSWebTools/TrackFieldRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="USPSFaultFault">
        <soap:fault use="literal" name="USPSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackFieldRequests">
      <soap:operation soapAction="http://VS13.USPS/IUSPSWebTools/TrackFieldRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="USPSFaultFault">
        <soap:fault use="literal" name="USPSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerifyAddress">
      <soap:operation soapAction="http://VS13.USPS/IUSPSWebTools/VerifyAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="USPSFaultFault">
        <soap:fault use="literal" name="USPSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupCityState">
      <soap:operation soapAction="http://VS13.USPS/IUSPSWebTools/LookupCityState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="USPSFaultFault">
        <soap:fault use="literal" name="USPSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupZipCode">
      <soap:operation soapAction="http://VS13.USPS/IUSPSWebTools/LookupZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="USPSFaultFault">
        <soap:fault use="literal" name="USPSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USPSWebTools">
    <wsdl:port name="BasicHttpBinding_IUSPSWebTools" binding="tns:BasicHttpBinding_IUSPSWebTools">
      <soap:address location="http://localhost:43568/USPSWebTools.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>